body {
    font-family: Arial, sans-serif;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
  }
  
  #rechercheInput {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  
  #rechercheButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #menuContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #dedede
}

.menu-card{
  margin-bottom: 33px;
  background-color: white;
      width: 380px;
    border-radius: 21px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Ombre sous la carte */
    margin-bottom: 33px;
    background-color: white;
}

.menu-card img {
    width: 100%;
    object-fit: cover;
    height: 220px; /* Hauteur fixe pour l'image */
}

.menu-header {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 20px;
}



.content-container {
    padding: 20px;
}
  

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.ingredients-container div {
  flex-basis: calc(50% - 10px);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ingredients-container span {
  display: block;
  margin-bottom: 5px; /* Espace entre le nom et la quantité */
}

.ingredients-container span:first-child {
  font-weight: bold;
}

  #resultats {
    margin: 20px;
  }
  
  #resultats p {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .form-control {
    width: 954px;
    height: 72px;
    margin: 40px auto; /* Centre l'input */
}

.filter-bar {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #dedede;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* pour l'ombre sous la barre */
}

.filter-bar button {
  position: relative;
  top: 7px;
  padding: 10px 20px;
  border: none;
  background-color: #FFFFFF; /* couleur de fond des boutons */
  border-radius: 11px;
  cursor: pointer;
  margin-left: 52px;
  width: 179px;
  height: 56px;

}

.filter-bar button:hover {
  background-color: #e2e2e2; /* couleur de fond des boutons au survol */
}

.filter-bar input {
  padding: 10px;
  border: none;
  border: 1px solid;
  width: 100%; 
}

.filter-bar button::after {
  content: '⌄'; /* Chevron vers le bas */
  font-size: 25px; /* Taille du chevron */
  margin-left: 15px; /* Espacement après le titre du bouton */
}

.filter-bar button.chevron-up::after {
  content: '⌃'; /* Chevron vers le haut */
}


/* Styles pour le menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}


.dropdown-content {
  display: none; /* Cache le contenu par défaut */
}

.dropdown-content.show {
  display: block; /* Affiche le contenu quand la classe 'show' est ajoutée */
  margin-left: 52px;
}

.search-logo-container {
  margin-left: -75px; /* Ajustez en fonction de la taille de votre bouton de recherche */
}

.search-input-with-icon {
  width: 100%; /* ou la largeur que vous voulez */
  padding: 10px; /* Ajustez à votre convenance */
  padding-right: 40px; /* Espace pour l'icône */
  border: 1px solid #cccccc; /* Couleur de bordure souhaitée */
  background-image: url('../assets/loop4.svg');
  background-color: transparent;
  background-position: right 10px center; /* Ajustez la position de l'icône */
  background-repeat: no-repeat;
  background-size: 20px; /* Taille de l'icône */
  box-sizing: border-box; /* Pour inclure le padding dans la largeur */
  /* Ajoutez d'autres styles comme l'ombre, la couleur de fond, etc. */
}

/* Vous voudrez peut-être ajouter des styles pour l'interaction avec l'input */
.search-input-with-icon:focus {
  outline: none; /* Retire le contour par défaut sur le focus */
  border-color: #a0a0a0; /* Change la couleur de bordure sur le focus */
  /* Ajoutez d'autres styles pour l'état focus si nécessaire */
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /* Ajoutez de l'espace au-dessus des tags */
}

.tag {
  background-color: #FFD15B;
  border-radius: 10px;
  margin-top: 12px;
  padding: 5px 10px;
  width: 203px;
  height: 53px;
  margin-right: 5px;
  margin-left: 40px;
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-close-btn {
  margin-left: 20px; /* Espacement entre le texte du tag et le bouton fermer */
  cursor: pointer;
}

