body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #rechercheInput {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  
  #rechercheButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #menuContainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #dedede
}

.menu-card{
  margin-bottom: 33px;
  background-color: white;
}
  
  #resultats {
    margin: 20px;
  }
  
  #resultats p {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .form-control {
    width: 60%; /* Ajustez la largeur selon vos préférences */
    margin: 0 auto; /* Centre l'input */
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff; /* ou toute autre couleur appropriée */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* pour l'ombre sous la barre */
  border-radius: 21px;
  margin-bottom: 20px; /* pour l'espace entre les filtres et les cartes de menu */
}

.filter-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #f2f2f2; /* couleur de fond des boutons */
  border-radius: 21px;
  cursor: pointer;
}

.filter-bar button:hover {
  background-color: #e2e2e2; /* couleur de fond des boutons au survol */
}

.filter-bar input {
  padding: 10px;
  border: none;
  border-radius: 21px;
  width: 50%; /* ou la largeur que vous voulez */
}

/* Styles pour le menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


