body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #rechercheInput {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  
  #rechercheButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #menuContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #dedede
}

.menu-card{
  margin-bottom: 33px;
  background-color: white;
}
  
  #resultats {
    margin: 20px;
  }
  
  #resultats p {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .form-control {
    width: 954px;
    height: 72px;
    margin: 40px auto; /* Centre l'input */
}

.filter-bar {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #dedede;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* pour l'ombre sous la barre */
  border-radius: 21px;
  margin-bottom: 20px; /* pour l'espace entre les filtres et les cartes de menu */
}

.filter-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #FFFFFF; /* couleur de fond des boutons */
  border-radius: 11px;
  cursor: pointer;
  margin-left: 52px;
  width: 179px;
  height: 56px;

}

.filter-bar button:hover {
  background-color: #e2e2e2; /* couleur de fond des boutons au survol */
}

.filter-bar input {
  padding: 10px;
  border: none;
  border-radius: 21px;
  width: 50%; 
}

.filter-bar button::after {
  content: '⌄'; /* Chevron vers le bas */
  font-size: 25px; /* Taille du chevron */
  margin-left: 15px; /* Espacement après le titre du bouton */
}

.filter-bar button.chevron-up::after {
  content: '⌃'; /* Chevron vers le haut */
}


/* Styles pour le menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}


.dropdown-content {
  display: none; /* Cache le contenu par défaut */
}

.dropdown-content.show {
  display: block; /* Affiche le contenu quand la classe 'show' est ajoutée */
}

.search-container {
  display: flex;
  border: 1px solid #CCCCCC; /* Couleur de la bordure de la barre de recherche */
  border-radius: 11px;
  width: auto; /* ou une largeur spécifique si nécessaire */
  align-items: center;
  padding-right: 10px; /* Espace pour le bouton de recherche */
}

.search-input {
  flex-grow: 1;
  border: none; /* Retire la bordure de l'input */
  padding-left: 10px; /* Espacement à gauche dans l'input */
}

.search-logo-container {
  margin-left: -75px; /* Ajustez en fonction de la taille de votre bouton de recherche */
}

/* Assurez-vous que le bouton n'a pas de fond et de bordure si nécessaire */
.search-logo {
  cursor: pointer;
  background: none;
  border: none;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /* Ajoutez de l'espace au-dessus des tags */
}

.tag {
  background-color: #FFD15B; /* Couleur de fond du tag */
  border-radius: 10px; /* Bords arrondis */
  padding: 5px 10px; /* Padding intérieur */
  margin-right: 5px; /* Espacement entre les tags */
  display: flex;
  align-items: center;
}

.tag-close-btn {
  margin-left: 10px; /* Espacement entre le texte du tag et le bouton fermer */
  cursor: pointer;
}

